.container {
  margin: 30px auto 0 auto;
  border: 1px black;
  width: 45%;
  max-width: 800px;
  display: block;
  font-family: "Franklin Gothic Medium", Arial, sans-serif;
}

form {
  margin-top: 0;
  width: 100%;
}

input.form-control {
  flex: 1;
  margin-right: 10px;
}

.unit-temps .active {
  color: black;
  cursor: default;
}

.unit-temps .active:hover {
  text-decoration: none;
}

h5 {
  padding-top: 20px;
  color: #6c757d;
}
.date-time,
.description {
  margin-top: 0;
  margin-bottom: 30px;
  color: #6c757d;
}

#weather {
  color: #6c757d;
}

#icon {
  margin-left: -20px;
}

.col-4.current-temp,
.current-emoji {
  font-size: 50px;
}

.current-temp {
  color: black;
  padding-top: 10px;
}

.current-info {
  padding: 10px;
  margin-left: 15px;
}

.current-wind {
  margin-top: 15px;
}

.row {
  color: #6c757d;
}

.temps {
  font-size: 30px;
  margin-left: 50px;
}

.time-of-day {
  margin-top: 20px;
}

#daily-forecast {
  text-align: center;
}

#forecast-icon {
  width: 100%;
}

p {
  text-align: center;
  margin-top: 10px;
}
