.container {
  max-width: 600px;
  margin-top: 10px;
}

form {
  margin: 10px 20px;
  width: 100%;
}

input.form-control {
  flex: 1;
  margin-right: 10px;
}

.temp {
  font-size: 45px;
}

.unit-temps {
  font-size: 15px;
  margin-left: -10px;
}

.unit-temps .active {
  color: #6c757d;
  cursor: default;
}

.unit-temps .active:hover {
  text-decoration: none;
}

ul {
  list-style-type: none;
  color: #6c757d;
  margin: 0;
  padding: 0 20px;
}

h4 {
  margin: 10px 20px 0;
  color: #6c757d;
}

.current-info {
  color: black;
  padding: 10px;
  margin-left: 15px;
}

p {
  text-align: center;
  margin-top: 10px;
}
